{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended",
		"plugin:react-hooks/recommended"
	],
	"rules": {
		"react-hooks/exhaustive-deps": [ "error", { "additionalHooks": "useSelect" } ],
		"import/order": [ "error", { "groups": [ "builtin", [ "external", "unknown" ], "internal", "parent", "sibling", "index" ] } ],
		"jsdoc/check-indentation": "error",
		"@wordpress/dependency-group": "error",
		"@wordpress/react-no-unsafe-timeout": "error"
	}
}
